.main{
  min-height: 200px;
}

.ng-hide table {
  /* this is just another form of hiding an element */
  display:block!important;
  position:absolute;
  left:-9999px;
}

.ng-hide:after{
  content: "Loading";
}
