<!doctype html>
<html class="no-js" ng-app="glossaryApp">
  <head>
    <meta charset="utf-8">
    <title>glossary app</title>
    <meta name="description" content="">

    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="container">
        <h3>
          eHealth Glossary App
          <small>@@VERSION@@</small>
        </h3>
      </div>
    </header>

    <div class="main container">
      <div class="ng-hide" ng-show="terms" ng-controller="GlossaryCtrl">
        <p class="query">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </div>
            <input class="form-control" ng-model="query" type="search" placeholder="Filter"/>
          </div>
        </p>
        <div class="terms">
          <article ng-repeat="term in terms | filter:query">
            <h4>
              <strong ng-bind-html="term.name | highlight:query"></strong>
              <small ng-bind-html="term.explanation | linkify | highlight:query"></small>
            </h4>
            <p ng-bind-html="term.description | linkify | highlight:query"></p>
          </article>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the <a href="http://hood.ie">Hoodie</a> team</p>
      </div>
    </footer>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/appcache-nanny/appcache-nanny.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/filters/highlight.js"></script>
    <script src="scripts/filters/linkify.js"></script>
    <script src="scripts/filters/rawHtml.js"></script>
    <!-- endbuild -->
</body>
</html>
